@inherits NavigationBase

<nav class="navigation -bottom">
    @foreach (var destination in Destinations)
    {
        <div class="nav-wrapper" style="flex-basis: @ItemSize">
            <NavLink href="@destination.Route">
                <div class="icon-wrapper">
                    @destination.Icon
                    @destination.Badge
                </div>
                @destination.Text
            </NavLink>
        </div>
    }
</nav>
